-i https://pypi.python.org/simple
echopype>=0.9.0
boto3>=1.35.29
Flask>=3.0.3
gcsfs
google-api-python-client
google-cloud
google-cloud-bigquery
google-cloud-storage
google-cloud-vision
numpy>=1.26.4
openpyxl>=3.1.5
pandas>=2.2.2
pandas_gbq>=0.22.0
pytest>=8.3.3
pytz>=2024.1
tqdm>=4.66.2
