--index-url https://pypi.python.org/simple
echopype
boto3
gcsfs
google-api-python-client
google-cloud
google-cloud-bigquery
google-cloud-storage
google-cloud-vision
numpy>=1.19.5
openpyxl>=3.1.3
pandas
pandas_gbq
pytest
pytz>=2024.1
tqdm
azure-storage-file-datalake>=12.7.0
zarr==2.8.3
inquirerpy
numcodecs==0.15.1